
#laptop {
  display: none;
}
#phone-img {
  display: block;
  margin-top: 3vh;
  height: 30vh;
  margin-left: 19vw;
  
}

.login-form {
  margin-bottom: -7vh;
}


.login-form Button {
  width: 60vw;
  height: 6vh;
  color: whitesmoke;
  background-color: black;
}

.login-box {
  margin-bottom: -5vh;
}

@media only screen and (min-width: 430px) {

  .login {
    display: flex;
    height: 100vh;
    align-items: center;
}

.login-box {
  margin-bottom: -5vh;
}

.login-form {
  margin-bottom: 1vh;
  border-radius: 10px;
  border: 1px solid rgb(180, 175, 175);
}

.login-form Button {
  width: 20vw;
  height: 7vh;
}

  #laptop {
    display: block;
    height: 100vh;
    margin-right: 5vw;
  }

  .welcome-message {
    font-size: 23px;
  }


  #phone-img {
    display: none;
  }
}
