.products{
    
}
.product-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.products-trends{
    display: flex;
    padding: 20px 20px 0;
}
.products-trends p{
    font-size: 18px;
    font-weight: 600;
}
.products-trends img{
    height: 25px;
}
.desktop-trends{
    display: none;
}
.trend-buttons{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 10px;
}
.trend-buttons button{
    background: #55555577;
    color: white;
    border: none;
    margin: 4px;
    border-radius: 15px;
    text-transform: capitalize;
    font-size: 14px;
}
#active-trend{
    background-color: blue;
}

@media only screen and (min-width:768px) {
    .desktop-trends{
        display: block;
    }
    .phone-trends{
        display: none;
    }
    .products{
        display: flex;
    }
    .trend-buttons{
        display: flex;
        flex-direction: column;
        /* margin-top: 40px; */
    }
    .trend-buttons button{
        font-size: 16px;
        padding: 5px;
    }
    .search-results-title{
        display: flex;
        align-items: center;
    }
    .search-results-title img{
        height: 25px;
    }
    .search-results-title p{
        font-size: 18px;
        font-weight: 600;
    }

    .search-history div{
        display: flex;
        flex-wrap: nowrap;
        width: 170px;
        padding: 5px 0 5px 5px;
    }
    .search-history img{
        height: 25px;
    }
    .search-history p{
        font-size: 18px;
        font-weight: 600;
        margin: auto 0px;
        word-wrap: normal;
    }
}
