
.profile-card li {
  list-style: none;
  
}

.profile-card {
  border: 1px solid black;
  width: 50vw;
  margin: auto;
  margin-top: 10vh;
  height: 20vh;
  border-radius: 20px;
}

.profile-button Button {
  background-color: orangered;
  color: whitesmoke;
  margin-top: 2vh;
}

