.signup {
  /* height: 100vh; */
  border: 3px solid blue;

}
#h1 {
    font-size: 25px;
}
#h5 {
    font-size: 13px;
}

#lappy {
    display: none;
}


#phone {
    display: content;
    border: 1px solid red;
    height: ;
    width: 60vw ;
    align-items: center;
}

.signup-form {
    border: 1px solid red;

}

@media only screen and (min-width: 430px) {

    .signup {
        display: flex;   
        /* height: 100vh; */
        /* align-items: center; */
    }

    .signup-form {
        border: 1px solid rgb(21, 255, 0);
        width: 40vw;
    
    }
    #lappy {
        display: block;
        width:  45vw;
        margin-right: 100px;
    }

    #phone {
        display: none;
    }
    
    #h1{
        font-size: 30px;
    }
    #h5{
        font-size: 15px;
    }

    .horizontal {
        width: 30vw;
    }
}